@* MODAL ELIMINAR *@
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Estas seguro de que deseas eliminar a @_nombreModelo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" @onclick=@(() => Delete.InvokeAsync()) data-bs-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string _nombreModelo { get; set; } = "nombre";

    [Parameter]
    public EventCallback Delete { get; set; }
}
