<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RBD FACTURE</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Facturas" Match="NavLinkMatch.All">
                <span class="bi bi-receipt-cutoff" aria-hidden="true"></span> Facturas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="bi bi-folder2-open" aria-hidden="true"></span> Cuentas Por Cobrar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Articulos">
                <span class="bi bi-bag-check-fill" aria-hidden="true"></span> Articulos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Clientes">
                <span class="bi bi-person-fill" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Empleados">
                <span class="bi bi-person-fill" aria-hidden="true"></span> Empleados
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="bi bi-receipt-cutoff" aria-hidden="true"></span> Comprobante Fiscal
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="bi bi-paperclip" aria-hidden="true"></span> Tipos Compro.
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TiposPagos">
                <span class="bi bi-signpost-split-fill" aria-hidden="true"></span> Tipos Pagos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Grupos">
                <span class="bi bi-tags-fill" aria-hidden="true"></span> Grupos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Cargos">
                <span class="bi bi-bar-chart-fill" aria-hidden="true"></span> Cargo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Ciudades">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Ciudad
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Calles">
                <span class="bi bi-signpost-split-fill" aria-hidden="true"></span> Calle
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Estados">
                <span class="bi bi-battery-full" aria-hidden="true"></span> Estados
            </NavLink>
        </div>
    </nav>
</div>
