<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RBD FACTURE</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Facturas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cuentas Por Cobrar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="article">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Articulos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="client">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Clientes
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employee">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Empleados
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Comprobante Fiscal
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> T Comprobantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="grupos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grupos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Generos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cargo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ciudad">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ciudad
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calles">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Calle
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estados">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Estados
            </NavLink>
        </div>
    </nav>
</div>
