@page "/"
@using RBDProject.Models
@rendermode InteractiveServer
@inject IHttpClientFactory _http
@inject NotificationService _notificationService
@inject TooltipService _tooltipService
@inject IJSRuntime _jSRuntime

<PageTitle>Home</PageTitle>

<section>


</section>

